<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function Delete() {
	
}



</script>
</head>
<body>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Javascript Example</title>
    </head>
    <body>
        <h2>Tạo check all và uncheck all trong Javascript</h2>
        <table border='1' cellspacing='0' cellpadding='10'>
            <tr style="font-weight: bold">
                <td><input type='checkbox' name='name[]' id='1' value='' /></td>
                <td>Nguyễn Văn Cường</td>
            </tr>
            <tr style="font-weight: bold">
                <td><input type='checkbox' name='name[]' id='2' value='' /></td>
                <td>Vũ Thị Thu Tình</td>
            </tr>
            <tr style="font-weight: bold">
                <td><input type='checkbox' name='name[]' id='3' value='' /></td>
                <td>Nguyễn Văn Thiên</td>
            </tr>
            <tr style="font-weight: bold">
                <td><input type='checkbox' name='name[]' id='4' value='' /></td>
                <td>Nguyễn Thị Thanh Thu</td>
            </tr>
        </table>
        <br/>
        <br/>
        <input type="button" id="btn1" value="Chọn hết"/>
        <input type="button" id="btn2" value="Bỏ chọn"/>
        <input type="button" id="btn3" value="delete" onclick="Delete()"/>
         
         
        <script language="javascript">
 
            // Chức năng chọn hết
            document.getElementById("btn1").onclick = function () 
            {
                // Lấy danh sách checkbox
                var checkboxes = document.getElementsByName('name[]');
 
                // Lặp và thiết lập checked
                for (var i = 0; i < checkboxes.length; i++){
                    checkboxes[i].checked = true;
                }
            };
 
            // Chức năng bỏ chọn hết
            document.getElementById("btn2").onclick = function () 
            {
                // Lấy danh sách checkbox
                var checkboxes = document.getElementsByName('name[]');
 
                // Lặp và thiết lập Uncheck
                for (var i = 0; i < checkboxes.length; i++){
                    checkboxes[i].checked = false;
                }
            };
 
        </script>

</body>
</html>